/*
 *  GLOW by Hugo Pope
 *  Web-Design Framework
 *  https://glowos.ml
 */

:root{
    --blue: #007bff;
    --black: #000000;
    --white: #ffffff;
}


 html{
background-color: var(--white);
 }
.root{}
.AppRoot{}
.AppNavigation{}
.AppBody{}
 }
 .card {
    margin-right: 25px;
    transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
 background-color: #fff;
      width: 33.33%;
      height:72vh;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 13px 10px -7px rgba(0, 0, 0,0.1);

  }
  .cardShellUIBackground{
    background-image: linear-gradient(147deg, #424242  0%, #131313 74%);
    width: 100%;
    height:100%;
    border-bottom-left-radius:12px;
    border-bottom-right-radius:12px;

  }
  .cardTitle{
      color:#ffffff;
      margin:0;
      top:50;
      bottom:50;
      vertical-align:center;
  }
  .VerticalAlign {
    display: flex;
    align-items: center;
    height: 200px;
padding:24px;  }
.UIPadding {
    padding:10%
}